
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf)
}
@font-face {
    font-family: ProximaNovaAlt-Bold;
    src: url(../fonts/ProximaNovaAlt-Bold.otf)
}
@font-face {
    font-family: ProximaNova-Semibold;
    src: url(../fonts/ProximaNova-Semibold.ttf)
}
@font-face {
    font-family: ProximaNovaAlt-Light;
    src: url(../fonts/ProximaNovaAlt-Light.otf)
}
@font-face {
    font-family: ProximaNovaAlt-Regular;
    src: url(../fonts/ProximaNovaAlt-Regular.otf)
}

    .bg_color {
    background-color: #a56fef;
    padding-top: 214px;
    height: 100vh;
}
  .bg_color1 {
    height: 115vh;
}
 .bg_color2 {
    height: 120vh;
}
.topSection.top_one {
    height: 100vh;
    margin-bottom: 80px;
}
h1.h_content {
    text-align: justify;
    display: block;
    margin-left: 18%;
    margin-right: 18%;
    color: #fff;
    font-size: 41px;
    font-weight: 600;
}
p.p_content {
    text-align: left;
    display: block;
    margin-left: 18%;
    margin-right: 18%;
    color: #ffff;
    margin-top: 35px;
    font-size: 16px;
}
.navbar-toggle {
    border-color: #ddd;
    margin-top: 0px;
    margin-bottom: 20px
}
.navbar-toggle .icon-bar {
    background-color: #888;
}
.topSection{
    padding: 60px;
    padding-top: 79px;
}
footer{
    padding: 30px 30px;
   position: fixed;
    bottom: 0px;
    width:100%;
    max-width: 1000px;
    margin: 0px auto;
    right:0px;
    background: #fff;
    z-index: 9999;
}
.theme-sec{
  overflow: hidden;
}
.bg1_height,
.bg_height {
    height: 100vh;
}

.confrm_btn {
    margin-bottom: 30px;

}
.l_style {
    text-align: left;
}
.custom-file-upload .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload input[type="file"] {
    display: none;
}

.btn-danger:active,
.btn_color:hover{
  background: #8953d3;
  border-color: #8953d3 !important;
}
select.s_select {
    width: 40%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.form-horizontal .control-label {

    text-align: left;
}
.f_name {
    width: 40%;
}
.g_pad {
    margin-bottom: 36px;

}
.d-none{
  display: none;
}
.d-block{
  display: block;
}
.form-control[readonly]{
    background-color: transparent;
    margin-bottom: 20px;
}



.g_pad label.control-label.col-sm-2.l_style {
    font-size: 15px;
    color: #a56fef;
}
.label-style{
  font-size: 15px;
  color: #a56fef;
}

.f_font {
    font-size: 14px;
    color: #a56fef;
}
.active {

    border: 1px solid !important;
}
 .form-control{
max-width: 280px;
border-radius: 0px;
border: none;
box-shadow: 1px 0px 4px rgba(0,0,0,.5);
height: 47px;
margin-bottom: 20px;
 }
 select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #555;
  max-width: 280px;
  border-radius: 0px;
  border: none;
  box-shadow: 1px 0px 4px rgba(0,0,0,.5);
  height: 47px;
width: 100%;
margin-bottom: 20px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid transparent !important;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #8953d3 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fff;
}
.select-styled:active, .select-styled.active {
  background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #8953d3 transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border:1px solid #555;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #555;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover {
  color: #a56fef;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}
label.custom-file-upload {
    border: 1px solid;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 45px !important;
    padding-right: 45px !important;
    border-radius: 4px;
    background-color: #a56fef;
    box-shadow: 1px 1px 1px 1px #d2d0d0;
    color:#ffff;
}

h2.c_continue {
    position: fixed;
    bottom: 40px;
    right: 45px;
    color: #a56fef;
}

h2.c_back {
    position: fixed;
    bottom: 40px;

    color: #a59999;
}
span.glyphicon.glyphicon-arrow-left {
    padding-right: 22px;
}

span.glyphicon.glyphicon-arrow-right {
    padding-right: 22px;
    padding-left: 22px;
}

textarea.t_area {
    padding-left: 10px;
}



.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }

.box > .icon > .info {background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0;
padding: 28px 15px 50px 15px;}

.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }

.box .space { height: 30px; }
.i_info ul {
    text-align: justify;
    font-size: 18px;
}
.i_info li {
    margin-top: 4px;
}

h2.n_num {
    font-weight: bold;
    line-height: 7px;
    margin-top: 75px;
}
p.o_one {
    font-size: 19px !important;
    color: #a56fef !important;
}

.button-default {
  border: 1px solid #a56fef;
padding-left: 0;
padding-right: 0;
padding-top: 14px;
padding-bottom: 14px;
font-size: 14px !important;
color: #ffff !important;
background-color: #a56fef;
border-radius: 4px;
width: 100%;
max-width: 170px;
box-shadow: 1px 0px 7px rgba(0,0,0,.5);
}

h2.s_main {
    font-weight: 600;
    color: #757373;
}

.num_field {
    width: 40%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding-left: 12px;
    color: #ccc !important;
}
.g_pad label.control-label.col-md-2.l_style {
    font-size: 15px;
    color: #a56fef;
}

.r_inline {
    font-size: 16px;
    font-weight: 600;
    color: #656363;
}

button.btn.p_btn {
    border: 1px solid #a56fef;
    background-color: #a56fef;
    /* padding-left: 217px; */
    /* padding-right: 217px; */
    width: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 14px;
}
section.bg_color_bg {
    background-color: #a56fef;
    height: 100vh;
    margin-top: -20px;
}
h2.p_confirm {
    font-size: 32px;
    color: #ffff;
    font-weight: 600;
    text-align: center;
    transform: translateY(-50%);
top: 50%;
position: relative;
}
p.t_thank {
    font-size: 16px;
    color: #fff;
    line-height: 11px;
    text-align: center;
    transform: translateY(-50%);
top: 50%;
position: relative;
}
p.l_link {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    transform: translateY(-50%);
top: 50%;
position: relative;
}

.l_link a {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
    transform: translateY(-50%);
top: 50%;
position: relative;
}

h1.alignleft {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #696868;
}
a.alignright {
    float: right;
}

a.alignright {
    float: right;
    border: 1px solid #a56fef;
    color: #ffff;
    background-color: #a56fef;
    border-radius: 14px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
        margin-top: 11px;
}
.alignleft.f_name {
    float: left;

}
button.f_btn.alignright {
    margin-left: 18px;
    border: 1px solid #a56fef;
    border-radius: 4px;
    background-color: #a56fef;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    color: #fff;
}

a.alignright1 {
    margin-left: 19px;
    font-size: 16px;
    color: #a56fef;
}
img.img-responsive.i_img {
    width: 100%;
  max-width: 100%;
}
a.c_continue {
    color: #a56fef;
    float: right;
    font-size: 30px;

}
a.c_back {
    color: #a59999;
    font-size: 30px;

}
a.con_continue {
    color: #a56fef;
    float: right;
    font-size: 30px;
    position: fixed;
    bottom: 5%;
    right: 3%;
}
a.con_back {
    color: #a59999;
    float: left;
    font-size: 30px;
    position: fixed;
    bottom: 5%;
    left: 27%;
}
.s_shadow {
      box-shadow:1px 0px 4px rgba(0,0,0,.8);
    padding-left: 4px;
    padding-right: 4px;
    height: 236px;
    overflow: hidden;
}

.theme-box .panel{
border: none;
background: none;
border-radius: 0px;
}
.theme-box .thumbnail {
    display: block;
    padding: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius:0x;
}
.theme-box a.thumbnail.active,
.theme-box a.thumbnail:focus,
.theme-box a.thumbnail:hover,
a:focus,
a:hover{
    border-color: inherit;
    outline: none;
}
.s_shadow:hover {
    box-shadow:1px 0px 4px rgba(0,0,0,.8);
    z-index: 2;
    transition: all 0.6s ease;
    transform: scale(1.05);
    z-index: 9999;
}

.btn_color {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #a56fef;
    border-color: #a56fef;
    margin-bottom: 30px;
}
.btn_color:hover:active:focus {
    background-color: #a56fef;
    border-color: #a56fef;
}

label.custom-file-upload:hover {
    background-color: #651dc7;
    border: 1px solid #651dc7;
}

button.f_btn.alignright:hover {
    background-color: #651dc7;
    border: 1px solid #651dc7;
}
.more a:hover {
    background-color: #651dc7;
    border: 1px solid #651dc7;
}
button.btn.p_btn:hover {
    background-color: #651dc7;
    border: 1px solid #651dc7;
}
.footer_inner.clearifix {
  /* position: fixed;*/
    bottom: 0px;

    right: 0px;
    float: right;
    text-align: right;

}
.footer_inner_left.clearifix {
        display: inline-block;
   /* bottom: 0px;
   position: fixed;*/
}





@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation:landscape){
    h2.c_continue {
    position: initial !important;

}

    }

@media only screen and (min-device-width : 320px) and (max-device-width : 767px)  {
        .f_name {
    width: 100%;
}
.num_field {
    width: 100%;

}
.alignleft.f_name {

    width: 100%;
}
button.f_btn.alignright {

    width: 100%;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}
textarea.t_area {
    /* padding-left: 10px; */
    width: 100%;
}
a.c_back {
    color: #a59999;
    font-size: 21px;
    position: initial;
    bottom: 10%;
}
a.c_continue {
    color: #a56fef;
    float: right;
    font-size: 21px;
    position: initial;
    bottom: 10%;
    right: 3%;
}
a.con_continue {
    color: #a56fef;
    float: right;
    font-size: 21px;
    position: initial;
    bottom: 5%;
    right: 3%;
}
a.con_back {
    color: #a59999;
    float: left;
    font-size: 21px;
    position: initial;
    bottom: 5%;
    left: 27%;
}


.footer_inner.clearifix {
    margin-top: 1px;

}
.topSection {
    padding: 30px;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
    .g_pad label.control-label.col-md-2.l_style {

    float: left;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
   .bg_logo {
    padding-left: 10px;
    padding-right: 10px;
}
.s_shadow {
    margin-bottom: 24px;
}
.more a {

    padding-left: 35%;
    padding-right: 35%;

}
.btn_pay {
    text-align: center;
}
.bg1_height {

    padding: 25px;
}
.padding_bg {
    padding: 0px !important;
}
.top_one {
    padding: 0px;
}
.confrm_btn {
    text-align: center;
}
select.s_select {
    width: 100%;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) and (orientation:landscape)
{
    .bg_color {

    padding-top: 35px;

}
}

@media(max-width: 1280px){
  footer {
    max-width: 900px;

}
}
@media(max-width: 1024px){
  footer {
    max-width: 750px;

}
}

@media (max-width: 900px){
  footer {
    max-width: inherit;
}
}
@media (max-width:768px){
  .bg1_height, .bg_height {
    height: auto;
}
  .f_name,select.s_select{ width: 100%; margin-bottom: 20px;}
  .form-horizontal .radio-inline{margin-bottom: 20px;}
  .btn_color { padding-left:0px; padding-right:0px;width: 100%;margin-bottom: 10px;}
  .bg_logo{margin-bottom: 25px;}
  .c_continue .text{display: none;}
  .c_back .text{display: none;}
  .i_info ul { text-align: left;}
  .g_pad {margin-bottom: 6px;}
  .button-default{max-width: inherit;}
  .topSection.top_one {
    height: 100%;
    margin-bottom: 10px;

}
  .topSection {  height: 100%;}
  footer{
   position: relative;
   padding: 10px;
   background: none;
}
.padding_bg footer, .bg1_height footer {
    bottom: 0px;
}
.bg1_height {
      height: 100%;
  }
}

@media (max-width:767px){
.bg1_height {
      padding: 0px;
  }
}
@media (max-width:576px) {
  .bg_color {
    padding-top: 17px;
    height: 100vh;
}
.bg_height {
    padding-left: 0px;
}
}

@media (max-width:480px){
  .bg_color {
    padding-top: 88px;
    height: 100vh;
}

}
